@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --blue: #0973a5;
    --green: #40ad6a;
    --background-white: #fefefe;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-white);
    font-family: 'Poppins';
    user-select: none;
}
nav{
    margin: 1.5% 3% 1.5% 1.5%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    justify-items: center;
    align-items: center;
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-align: center;
    text-decoration: none;
    color: #666666;
    transition: .1s;
    width: 110px;
    word-wrap: break-word;
}
.nav-link:hover{
    color: var(--green);
    font-weight: 600;
    cursor: pointer;
}
.nav-links select.nav-link{
    border: 0;
    outline: 0;
}
.active{
    color: black;
    font-weight: 600;
}
.active:hover{
    color: black;
    font-style: normal;
}
.logo-line{
    color: var(--green);
    font-weight: 500;
}
.nav-logo{
    font-size: 1.3rem;
    font-weight: 500;
}
#nav-login{
    padding: .5rem 1rem;
    border: 1px solid var(--green);
    border-radius: 25px;
    color: var(--green);
    font-weight: 600;
}
#nav-login:hover{
    font-style: normal;
    background-color: var(--green);
    color: white;
}
header{
    max-width: 100%;
    margin: 0 1%;
    background-image: url(src/letöltés.png);
    background-size: cover;
    background-position: 0;
    height: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
h1{
    font-size: 8rem;
    line-height: 1;
    text-align: center;
    width: 1400px;
    font-weight: 500;
    color: white;
}
.header-subtext,.scroll-text{
    margin: 1rem 0;
    color: white;
    font-size: 1.3rem;
}
.header-searchbox{
    background-color: white;
    width: 800px;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 12px 16px 22px 5px rgba(0,0,0,0.1);
}
.searchbox-type-wrapper{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.search-type{
    padding: 0 1rem;
    position: relative;
}
.search-type:hover:not(.selected-type){
    cursor: pointer;
}
.selected-type{
    border-bottom: 2px solid var(--green);
}
.search-type:not(.selected-type)::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--green);
    bottom: 0;
    left: 0;

    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .3s ease;
}
.search-type:hover::after{
    transform: scale(1,1);
}
.scroll-indicator{
    margin-top: 8vh;
    text-align: center;
}
.scroll-vector{
    animation: upDown 3s linear infinite;
}
i.fa-solid{
    margin-right: 5px;
}
@keyframes upDown {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(+30px);
    }
}
.spread{
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin: 1.5% 3% 1.5% 1.5%;
    align-items: center;
}
h2{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
}
.spread-subtext{
    margin: 1rem 0;
    line-height: 1.5;
    color: #666666;
}
.big-btn{
    padding: 1rem 1rem;
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    transition: .1s;
}
.big-btn:hover{
    cursor: pointer;
    background-color: #3a975e;
}
.spread-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
}
.data{
    width: 140px;
}
.data-main{
    color: var(--blue);
    font-weight: 700;
    font-size: 3rem;
}
.data-subtext{
    color: #666666;
}
hr{
    width: 95%;
    margin: 1.5% 3% 1.5% 1.5%;
    border: 1px solid #d3d3d3;
}